<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/tom&jerry.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="msg-1"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>